.project-info-container {
  display: flex;
  flex-direction: row;
}

.project-info{
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-image-container{
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.1rem;
}

.details-image {
  display: inline-block;
  max-width: 200px;
  max-height: 275px;
}

.project-calculations{
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}